{% extends 'base.html.twig' %}

{% block title %}{{ is_edit ? 'Editar' : 'Adicionar' }} Série{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>{{ is_edit ? 'Editar' : 'Adicionar' }} Série</h1>
        {{ form_start(seriesForm) }}
        {% if form_errors(seriesForm) is not empty %}
            <div class="alert alert-danger">
                {{ form_errors(seriesForm) }}   
            </div>
        {% endif %}
        <div class="row">
            {{ form_row(seriesForm.seriesName) }}
        </div>
        <div class="row">
            <div class="col">
                {{ form_row(seriesForm.seasonsQuantity) }}
            </div>
            <div class="col">
                {{ form_row(seriesForm.episodesPerSeason) }}
            </div>
        </div>
        {{ form_widget(seriesForm.save, {'attr': {'class': 'btn-primary mb-3'}}) }}
        {{ form_end(seriesForm) }}
        <a href="{{ path('app_series') }}" class="btn btn-secondary">Mostrar listagem das séries</a>
    </div>
{% endblock %}
