<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('style') }}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid bg-light d-flex justify-content-between align-items-center p-3">
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('app_series') }}">
                    Home
                </a>
                <a href="{{ path('app_logout') }}">
                    Sair
                </a>
            {% else %}
                <a href="{{ path('app_login') }}">
                    Login
                </a>
                <a href="{{ path('app_login') }}">
                    Register
                </a>
            {% endif %}
        </div>
        <div class="container mt-4">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </body>
</html></body></html>
